In [3]:
print("my name is SABAARISH , I ma from madurai ")

my name is SABAARISH , I ma from madurai

In [8]:
name = input()
print("my name is ",name)

 sab

my name is  sab

In [11]:
movie = "Dasavatharam"
fav_num = 10
fun_fact = "i am fat" 

print(f"my favourite movie is {movie} an dmy ffav_num is {fav_num} and funfun_fact about myself is {fun_fact}")

my favourite movie is Dasavatharam an dmy ffav_num is 10 and funfun_fact about myself is i am fat

In [13]:
for i in range(5,0,-1):
    print("& " * i)

& & & & &
& & & &
& & &
& &
&

In [16]:
name = "sab"
age = 14
weight = 85 
like_python = True 
print(name , type(name))
print(age , type(name))
print(weight , type(name))
print(like_python , type(name))

sab <class 'str'>
14 <class 'str'>
85 <class 'str'>
True <class 'str'>

In [18]:
a = 10 
b = 13
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

23
-3
130
0.7692307692307693
0
10
10000000000000

In [20]:
city = "London"
print(city)
city = "Paris"
print(city)

London
Paris

In [22]:
name = input("enter your name")
color = input("ener your favourite color")
print(f"your name is {name} and your favourite color is {color} ")

enter your name sb
ener your favourite color dnksa

your name is sb and your favourite color is dnksa

In [24]:
num1 = int(input("enter 1st number"))
num2 = int(input("enter 2t number"))
print(num1+num2)
print(num1-num2)
print(num1*num2)

enter 1st number 10
enter 2t number 20

30
-10
200

In [25]:
age = int(input("enter your age"))
print(f"your age is {age}")

enter your age 14

your age is 14

In [27]:
age = int(input("enter your age"))
if age < 13 :
    print("you are a child")
else :
    print("you are a adult")

enter your age 14

you are a adult

In [28]:
num = int(input("enter your num"))
if num%2 == 0 :
    print("Even")
else:
    print("Odd")

enter your num 9

Odd

In [35]:
marks = int(input("enter your mark"))
if marks >= 90:
    print("Excellent")
elif marks >= 75 and marks < 89:
    print("Very Good")
elif marks >= 50 and marks <= 74:
    print("Good")
else:
    print("Fail")

enter your mark 49

Fail

In [46]:
i = 1
while i <= 10 :
    if i% 3 == 0 :
        i+=1
        continue
    print(i)
    i+=1

1
2
4
5
7
8
10

In [47]:
1%3

1

In [54]:
n = int(input())
i = 1
while i< 5:
    print(i)
    i+=1

 5

1
2
3
4

In [55]:
n = int(input())
total = 0 
i = 1

while i <= 5:
    total+= i
    i+=1
print("sum from 1 to n is ",total)

 5

sum from 1 to n is  15

In [57]:
x = int(input())
i = 1

while i <= 10 :
    print(x,"*",i,"=",x*i)
    i+=1

 10

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [59]:
num = int(input())
count = 0 
while num > 0 :
    count+=1 
    num //= 10 
print("number of digits ",count)

 234

number of digits  3

In [67]:
num = -1   # start with invalid
while num <= 0:
    num = int(input("Enter a positive number: "))

print("Square of", num, "is", num ** 2)

Enter a positive number:  -1
Enter a positive number:  0
Enter a positive number:  10

Square of 10 is 100

In [65]:
1234//10

123

In [74]:
num = int(input("Enter a number: "))
rev = 0

while num > 0 :
    digit = num % 10          # get last digit
    rev = rev * 10 + digit    # add digit to reverse
    num //= 10                # remove last digit

print("Reversed number =", rev)

Enter a number:  123

Reversed number = 321

In [75]:
num = int(input("Enter a number: "))
is_negative = False

if num < 0:               # check if number is negative
    is_negative = True
    num = -num            # make it positive for reversing

rev = 0
while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10

if is_negative:
    rev = -rev            # add back the negative sign

print("Reversed number =", rev)

Enter a number:  -123

Reversed number = -321

In [16]:
s = "python"
for ch in s :
    print(ch)

p
y
t
h
o
n

In [17]:
nums = [1,2,3,4]
tot = 0 
for x in nums :
    tot += x 
print("sum= ",tot)

sum=  10

In [18]:
for i in range(1,11) :
    if i == 7 :
        break
    if i % 2 == 0 :
        continue 
    print(i)

1
3
5

In [19]:
s = "hello world"
print("python" in s )

False

In [22]:
s = "hello world" 
print(s[::-1])

dlrow olleh

In [26]:
s = " hi iam learning python python "
print(s.count("python"))
print("python" in s)

2
True

In [27]:
s = input()
print(s[0:3])
if len(s) <= 3 :
    print("too short")

 sab

sab
too short

In [28]:
s = "python"
s[-3:]

'hon'

In [1]:
fruits = ["apple","banana","cherry"]
numbers = [10,20,30,40]
mixed = ["python",3.14,True, 42]

In [2]:
fruits[1] = "mango"
print(fruits)

['apple', 'mango', 'cherry']

In [3]:
numbers.append(4)
print(numbers)

[10, 20, 30, 40, 4]

In [4]:
numbers.insert(1,90)
print(numbers)

[10, 90, 20, 30, 40, 4]

In [6]:
numbers.remove(90)

In [7]:
print(len(numbers))

5

In [10]:
print(numbers.sort())

None

In [14]:
num = [89,65,1,2,3,24]
num.sort()
print(num)

[1, 2, 3, 24, 65, 89]

In [16]:
movies = ["m1","m2","m3","m4","m5"]
print(len(movies))

5

In [24]:
num_even = []
num_odd = []
total2 = 0 
for i in range(1,10):
    total2 += i
    if i%2 == 0 :
        num_even.append(i)
    else :
        num_odd.append(i)
print(num_even)
print(num_odd)
print(total2)

[2, 4, 6, 8]
[1, 3, 5, 7, 9]
45

In [27]:
numbers = []
for i in range(5) :
    num = int(input(f"enter number {i+1}:"))
    numbers.append(num)

print(numbers)
print(max(numbers))

enter number 1: 45
enter number 2: 89
enter number 3: 70
enter number 4: 64
enter number 5: 99

[45, 89, 70, 64, 99]
99

In [28]:
words = ["pdjkbcds","caAT","cdd","casd","jfncjds","fcufhud"]

count = 0 
for word in words :
    if len(word) > 5:
        count += 1
print("noumber of words with length > 5 ate ",count)

noumber of words with length > 5 ate  3

In [ ]:
# todo_v1.py

tasks = []              # each task will be a dict: {"title": str, "done": bool}

def show_menu():
    print("\n=== TO-DO ===")
    print("1) Add task")
    print("2) List tasks")
    print("3) Mark task as done")
    print("4) Delete task")
    print("5) Clear all tasks")
    print("6) Quit")

def list_tasks():
    if not tasks:
        print("No tasks yet.")
        return
    print("\nYour tasks:")
    for idx, t in enumerate(tasks, start=1):
        status = "✅" if t["done"] else "⬜"
        print(f"{idx}. {status} {t['title']}")

def add_task():
    title = input("Enter task: ").strip()
    if title == "":
        print("Task cannot be empty.")
        return
    tasks.append({"title": title, "done": False})
    print("Added.")

def mark_done():
    if not tasks:
        print("No tasks to mark.")
        return
    list_tasks()
    try:
        n = int(input("Enter task number to mark done: "))
        if 1 <= n <= len(tasks):
            tasks[n-1]["done"] = True
            print("Marked as done.")
        else:
            print("Invalid number.")
    except ValueError:
        print("Please enter a valid number.")

def delete_task():
    if not tasks:
        print("No tasks to delete.")
        return
    list_tasks()
    try:
        n = int(input("Enter task number to delete: "))
        if 1 <= n <= len(tasks):
            removed = tasks.pop(n-1)
            print(f"Deleted: {removed['title']}")
        else:
            print("Invalid number.")
    except ValueError:
        print("Please enter a valid number.")

def clear_all():
    if not tasks:
        print("Already empty.")
        return
    confirm = input("Type YES to clear all: ")
    if confirm == "YES":
        tasks.clear()
        print("All tasks cleared.")
    else:
        print("Canceled.")

# main loop
while True:
    show_menu()
    choice = input("Choose (1-6): ").strip()
    if choice == "1":
        add_task()
    elif choice == "2":
        list_tasks()
    elif choice == "3":
        mark_done()
    elif choice == "4":
        delete_task()
    elif choice == "5":
        clear_all()
    elif choice == "6":
        print("Goodbye!")
        break
    else:
        print("Invalid choice. Try 1-6.")

=== TO-DO ===
1) Add task
2) List tasks
3) Mark task as done
4) Delete task
5) Clear all tasks
6) Quit

Choose (1-6):  1

In [2]:
eve = []
num = (1,2,3,4,5,6,7,8,9,10)
for i in num :
    if i % 2== 0 :
        eve.append(i)
print(eve)

[2, 4, 6, 8, 10]

In [1]:
def greet() :
    print("hello")

In [2]:
greet()

hello

In [5]:
def add(a,b):
    return a+ b 
x = add(2,3)
print(x)
print(type(x))

5
<class 'int'>

In [7]:
def area_rect(w,h):
    return w*h
print(area_rect(4,5))
print(area_rect(w = 10 , h = 4))

20
40

In [9]:
def power(base,exp = 2):
    return base ** exp
print(power(5))
print(power(5,3))

25
125

In [12]:
def minmax(nums):
    return min(nums),max(nums)
lo, hi = minmax([3,5,6,7])
print(lo,hi)

3 7

In [13]:
def hypothenuse(a:float,b:float) -> float :
    """
    return sqrt(a^2 + b^2).
    a,b : triangle legs 
    """
    return(a*a,b*b)** 0.5
help(hypothenuse)

Help on function hypothenuse in module __main__:

hypothenuse(a: float, b: float) -> float
    return sqrt(a^2 + b^2).
    a,b : triangle legs

In [14]:
x = 10 
def foo() :
    x = 20 
    print("inside: ",x)

foo()
print("outside:",x)

inside:  20
outside: 10

In [16]:
count = 0 
def bump() :
    global count
    count +=1
bump()

In [18]:
def summarize(title,*nums,**meta):
    print("titile :",title)
    print("nums :",nums)
    print("meta :",meta)
summarize("report",10,20,30,40,50,60,70,author = "sab",version = 1)

titile : report
nums : (10, 20, 30, 40, 50, 60, 70)
meta : {'author': 'sab', 'version': 1}

In [19]:
def is_even(n):
    return n%2 ==  0
is_even(10)

True

In [23]:
def unique_sorted(words):
    return sorted(set(words))

print(unique_sorted(["apple", "banana", "apple", "cherry"]))

['apple', 'banana', 'cherry']

In [24]:
l = [23,45,67,89,90,1,2,3]
print(sorted(l))

[1, 2, 3, 23, 45, 67, 89, 90]

In [25]:
s = ["apple","cherry","bananna"]
print(sorted(s))

['apple', 'bananna', 'cherry']

In [28]:
def fizzbuzz(n):
    for i in range(1,n+1):
        if i %3 == 0 and i %5 == 0 :
            print("Fizzbuzz")
        elif i % 3 == 0:
            print("Fizz")
        elif i % 5 == 0:
            print("Buzz")
        else :
            print(i)
fizzbuzz(20)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizzbuzz
16
17
Fizz
19
Buzz

In [29]:
def factorial(n) :
    result = 1
    for i in range(1,n+1):
        result *= i
    return result
factorial(5)

120

In [32]:
def factorial(n) :
    if n == 0 or n == 1 :
        return 1
    else :
        return n * factorial(n-1)
factorial(5)

120

In [34]:
try : 
    num = int(input("enter a number"))
    print("square = ",num * num)
except ValueError :
    print("Oops ! please enter a valid integer")

enter a number tyy

Oops ! please enter a valid integer

In [35]:
try:
    a = int(input("Enter numerator: "))
    b = int(input("Enter denominator: "))
    print("Result =", a / b)
except ValueError:
    print("Invalid input! Please enter numbers only.")
except ZeroDivisionError:
    print("Oops! Division by zero not allowed.")

Enter numerator:  10
Enter denominator:  0

Oops! Division by zero not allowed.

In [36]:
try:
    a = int(input("Enter numerator: "))
    b = int(input("Enter denominator: "))
    print("Result =", a / b)
except ValueError:
    print("Invalid input! Please enter numbers only.")
except ZeroDivisionError:
    print("Oops! Division by zero not allowed.")
finally : 
    print("closing the program")

Enter numerator:  4
Enter denominator:  0

Oops! Division by zero not allowed.
closing the program

In [39]:
try : 
    a = int(input("enter a number "))
    print( a ** 3)
except ValueError :
    print("Not a number!")

enter a number  dfd

Not a number!

In [41]:
try:
    a = int(input("Enter numerator: "))
    b = int(input("Enter denominator: "))
    print("Result =", a / b)
except ValueError:
    print("Invalid input! Please enter numbers only.")
except ZeroDivisionError:
    print("Oops! Division by zero not allowed.")

Enter numerator:  30
Enter denominator:  0

Oops! Division by zero not allowed.

In [44]:
while True:   # infinite loop
    try:
        num = int(input("Enter an integer: "))
        print("square of number :", num**2)
        print("cube of number :", num**3)
        break   # exit loop if success
    except ValueError:
        print("Not a valid integer, please try again.")

Enter an integer:  4

square of number : 16
cube of number : 64

In [45]:
class Car :
    def __init__(self,brand,model) :
        self.brand = brand 
        self.model = model 

    def start(self) :
        print(f"{self.brand} {self.model} is starting ...")
mycar = Car("toyota","Innova")
mycar.start()

toyota Innova is starting ...

In [46]:
class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.__balance = balance   # private attribute

    def deposit(self, amount):
        self.__balance += amount

    def get_balance(self):
        return self.__balance

acc = BankAccount("Sab", 1000)
acc.deposit(500)
print(acc.get_balance())  # 1500

1500

In [47]:
class Animal:
    def speak(self):
        print("I make sounds")

class Dog(Animal):    # Dog inherits from Animal
    def speak(self):
        print("Woof!")

class Cat(Animal):
    def speak(self):
        print("Meow!")

d = Dog()
d.speak()  # Woof!

c = Cat()
c.speak()  # Meow!

Woof!
Meow!

In [50]:
class Greeter:
    def hello(self):         # 'self' is required
        print("hi!")

g = Greeter()
g.hello()                    # Python turns this into: Greeter.hello(g)

hi!

2